.topnav {
    overflow: hidden;
    background-color: #333;

    div {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    .hamburger {
        display: none;
        font-size: 20px;
    }
    
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }


.dropdown-noticias{
    @include navbar_buttons($float,inherit,$border_color,left,$navbar_text_color);
    grid-row: 1;
    grid-column: 1;
    &:hover{
        .dropdown-content {
            display: block;
        }
    }
}

.blog
{
    @include navbar_buttons($float,inherit,$border_color,left,$navbar_text_color);
    text-decoration: none;
    a{
        color: white;
        text-decoration: none;
    }
}

.login{
    float: right;
    background: blue;
    border: 3px solid blue;
    a{
    color: white;
    text-decoration: none;
    }
}

    a:hover 
    {
        text-decoration:none; 
        background-color: transparent;
        cursor:pointer;  
    }


.dropdown-videos{
    @include navbar_buttons($float,inherit,$border_color,left,$navbar_text_color);
    grid-row: 1;
    grid-column: 2;
    &:hover{
        .dropdown-videos-content {
            display: block;
        }
    }
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

}

.dropdown-noticias:hover .dropdown-content {
    display: block;
}

.dropdown-videos-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

  @media screen and (max-width: 600px) {
    .dropdown-noticias, .dropdown-videos, .blog ,.login,.buttonscontainer {
      display: none;
    }
    .topnav .hamburger{
      float: left;
      display: block;
      a {
        text-decoration: none;
        float: left;
        display: block;
        text-align: left;
        color: white;
        font-size: 30px;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        .hamburger {
            text-decoration: none;
              position: relative;
              left: 0;
              top: 0;
              a{
                    text-decoration: none;
                    float: left;
                    display: block;
                    text-align: left;
                    color: white;
                    font-size: 30px;
              }
        }
        .dropdown-noticias{
            display: block;
            width: 100%;
            text-align: left;
            a{
                float: left;
    
            }
        }
        .dropdown-videos{
            display: block;
            width: 100%;
            text-align: left;
            a{
                float: left;
    
            }
        }
        .blog{
            display: block;
            width: 100%;
            text-align: left;
        }
    
        .login{
            display: block;
            width: 100%
        }
        .logout{
            display: block;
            width: 100%;
        }
        .buttonscontainer{
            display: block;
            width: 100%;
        }
    
    
    }
}