@import 'variables';
@import 'mixins';
@import 'navbar';
.main{
    display: grid;
}

.formulario{
    grid-row: 2/4;
}

.video-player{
    text-align: center;
    @media screen and (max-width: 600px){
        p{
        margin-left: 1em;
        margin-right: 1em;
        text-align: justify;
        }
        .video{
            text-align: center;
            width: auto;
        }
    }
}
.noticia-content{
    text-align: center;
    @media screen and (max-width: 600px) {
        text-align: justify;
        margin-left: 1em;
        margin-right: 1em;
        h1{
         text-align: center; 
        }
    }
}
.post-container {
    margin: 20px 20px 0 20px;  
    overflow: auto;
    border-bottom: 1px black solid;
}
.post-thumb {
    float: left;
    margin: 0 0 2em 0 ;
    @media screen and (max-width: 600px) {
        float:none;
     }
}
.post-thumb img {
    display: block;
    @media screen and (max-width: 600px) {
       margin:auto;
    }
}
.post-content {
    margin-left: 10em;
    @media screen and (max-width: 600px) {
        margin-left:0;
    }
}

.login-form{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px;
    background: rgb(236, 239, 241) none repeat scroll 0% 0%;
    border-radius: 5px;
    color: rgb(17, 34, 51);
    display: flex;
    flex-direction: column;
    min-width: 10em;
    max-width: 25em;
    padding: 1.5rem 2rem;
    margin:auto;
    margin-top: 5em;
    text-align: center;
  }

  .logout{
    float: right;
    background: red;
    border: 3px solid red;
  }

  .buttonscontainer{
      padding: 0px !important;
  }

  .banner img{
      width: 100%;
  }

  .new-entry{
      float:right;
  }

  .filtros{
      margin-bottom: 5em;
  }

  .filtro, .filter-label{
      float:left;
  }